@import "./mixin";
@import "./variabels";
@import "./maps";

#container_1 {
  margin-top: 10rem;
  margin-bottom: 15rem;
  .cta {
    h2 {
      @include animation;
      &:hover {
        color: $primary-color;
      }
    }
    &__button {
      @include button;
      &:hover {
        @include animate-button;
      }
    }
  }
}

#container_2 {
  padding: 5rem;
  background-color: $bg-color;
  .kartu {
    border-radius: 8px;
    margin-right: 1.5rem;
    @include animation;
    padding: 2em;
    background-color: white;
    &:hover {
      cursor: pointer;
      border: 1px solid black;
      box-shadow: 10px 10px rgba(0, 0, 0, 0.292);
    }
    &__image {
      color: black;
      text-align: center;
      font-size: 5em;
      padding: 1rem 2rem;
      background-color: $bg-color;
      margin-bottom: 1rem;
    }
    &__title {
      font-weight: 600;
      text-align: center;
    }
    &__body {
      @include flex;
      p {
        &:nth-child(1) {
          margin-right: 1rem;
        }
        &:nth-child(2) {
          margin-right: 1rem;
        }
        &:nth-child(3) {
          @include button;
          &:hover {
            background-color: darken($secondary-color, 20);
          }
        }
      }
    }
  }
}

#container_3 {
  padding-top: 10em;
  padding-bottom: 10em;
  margin-bottom: 2rem;
  a {
    @include button;
    font-weight: map-get($font-weight, bold);
    &:hover {
      background-color: darken($secondary-color, 20);
    }
  }
}

#container_4 {
  padding-top: 10em;
  padding-bottom: 10em;
  background-color: lighten($bg-color, $amount: 10);
  .button {
    margin-top: 1rem;
    @include button;
    border: none;
  }
}
